In [ ]:
#two lists are adding the elements
[1,2,3]+[2,3,4]

In [5]:
import numpy as np
#numpy is used for matrix
import matplotlib.pyplot as plt
#matplotlib is used for the plotting the data
import pandas as pd
#pandas is used for dataframes.Pandas is the best tool for handling this real-world messy data. 
import seaborn as sns
#It is used for data visualization and exploratory data analysis. Seaborn works easily with dataframes and the Pandas library. The graphs created can also be customized

In [ ]:
np.array([1,2,3])+np.array([2,3,4])
#using numpy adding the elements

In [7]:
some_data=pd.Series(np.arange(1,6))
#arranging the data in dataframe in the range of 1,6

In [ ]:
some_data

In [9]:
some_data=pd.Series(np.random.rand(10))
#creating the dataframe from the random integer 10

In [ ]:
some_data

In [12]:
stockmarket_data=pd.Series(np.random.randn(1000))
# series is used for to hold one-dimensional data in pandas

In [13]:
stockmarket_cumulative=stockmarket_data.cumsum() 
#The cumsum() method returns a DataFrame with the cumulative sum for each row

In [ ]:
stockmarket_cumulative.plot()
#plotting the data of stock market

In [26]:
stock_prices=pd.DataFrame(np.random.rand(1000,3))
#creating a dataframe 1000 rows and 3 columns

In [ ]:
stock_prices

In [28]:
stock_prices.columns=['India','Pakisthan','Bhutan']
#changing the column names 0,1,2 to india,pakisthan,Bhutan

In [ ]:
stock_prices

In [40]:
stock_prices.to_csv('stock.csv')
#Here we are taking the stock.csv

In [33]:
stock_prices.index=pd.date_range('1/1/2021',periods=1000)#here we can give 1000

In [ ]:
stock_prices

In [35]:
stock_prices_cumulative = stock_prices.cumsum()

In [ ]:
stock_prices_cumulative.plot()
#plotting the graph

In [ ]:
!wget https://raw.githubusercontent.com/ckrihub/bridge-sessions/main/ToyotaCorolla.csv
#taking the toyotacorolla data

In [42]:
car_data=pd.read_csv('ToyotaCorolla.csv')
#we are opening in reading mode

In [ ]:
car_data.tail()

In [ ]:
car_data.describe()
#return everything in car_data

In [ ]:
car_data.columns
#return column names

In [ ]:
car_data.size
#return the size

In [ ]:
car_data.count()
#count of the car data of columns

In [59]:
car_data.drop_duplicates(inplace=True)
#Here we are return the duplicate values

In [49]:
car_data.sort_values('Price',inplace=True)
#price values are in ascending order

In [ ]:
car_data

In [ ]:
plt.scatter(car_data['Price'],car_data['Age'])
#plotting the data price and age

In [ ]:
plt.scatter(car_data['Age'],car_data['Price'])
#scatter plotting the age and price

In [ ]:
plt.hist(car_data['Price'],bins=1000)
#hist() function is used to compute and create histogram of x.

In [ ]:
sns.regplot(x=car_data['Price'],y=car_data['Age'])
#This method is used to plot data and a linear regression model fit.

In [ ]:
sns.lmplot(x='Price',y='Age',data=car_data, hue='FuelType')
#lmplot() method is used to draw a scatter plot onto a FacetGrid. Parameters

In [ ]:
sns.pairplot(car_data,hue='FuelType')
#The pairplot() function can also be used to showcase the subset of variables, or we can plot different types of variables on rows and columns